/* Tambahkan gaya baru untuk radio button */
input[type="radio"] {
    display: none;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

/* Gaya saat radio button dipilih */
input[type="radio"]:checked + label {
    background-color: #9AE381;
    color: black;
    border: 2px solid #9AE381;
}

/* Gaya saat radio button tidak dipilih */
label {
    background-color: none;
    color: white;
    border: 2px solid #9AE381;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

/* Gaya saat radio button tidak dipilih dan dihover */
label:hover {
    background-color: #9AE381;
    color: black;
}

/* Tambahkan warna hijau untuk persentase 100% atau di atas 70% */
.green {
    color: #9AE381;
}

/* Tambahkan warna kuning untuk persentase 50-70% */
.yellow {
    color: yellow;
}

/* Tambahkan warna merah untuk persentase di bawah 50% */
.red {
    color: red;
}
